<div [chart]="chart"></div>
<div class="container">
  <h3>Options</h3>
  <div class="custom-control custom-radio">
    <input type="radio" id="pastWindow" name="customRadio" class="custom-control-input" value="pastWindow" [ngModel]="filterType"
      (change)="onRadioChange($event)">
    <label class="custom-control-label" for="pastWindow">Past</label>
  </div>
  <div class="custom-control custom-radio">
    <input type="radio" id="slidingWindow" name="customRadio" class="custom-control-input" value="slidingWindow" [ngModel]="filterType"
      (change)="onRadioChange($event)">
    <label class="custom-control-label" for="slidingWindow">Afterglow</label>
  </div>

  <div class="input-group mb-3" *ngIf="filterType == 'slidingWindow'">
    <div class="input-group-prepend">
      <span class="input-group-text" id="afterglow">Rémanence (sec) :</span>
    </div>
    <input type="number" class="form-control" [ngModel]="afterglow" (ngModelChange)="onAfterglowChange($event)" aria-describedby="afterglow"
    />
  </div>
  <div class="input-group mb-3" *ngIf="filterType == 'pastWindow'">
    <div class="input-group-prepend">
      <span class="input-group-text" id="dateMin">Date min :</span>
    </div>
    <input type="datetime-local" class="form-control" [value]="dateMin" (change)="onDateMinChange($event)" aria-describedby="dateMin"
    />
    <div class="input-group-prepend">
      <span class="input-group-text" id="dateMax">Date max :</span>
    </div>
    <input type="datetime-local" class="form-control" [value]="dateMax" (change)="onDateMaxChange($event)" aria-describedby="dateMax"
    />
  </div>
  <h3>Capteurs</h3>
  <ul *ngFor="let sensor of sensors" class="list-group">
    <li class="list-group-item d-flex justify-content-between align-items-center">
      {{sensor.name}}
      <span *ngIf="sensor.currentMeasure" class="badge badge-primary badge-pill">{{sensor.currentMeasure.value | number:'0.1-2':'fr'}}°C</span>
    </li>
  </ul>

</div>
